<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'style.html' %}
</head>
<body>

<form method="post">
{% csrf_token %}
<table>
    <thead>
        <tr>
            <th>Select reservation data</th>
            <th>Please leave comment here</th>
        </tr>
    </thead>
    <tbody>
      <td><input type="date" name="date" placeholder="Select date"></td>
      <td><input type="text" name="comment" placeholder="Leave comment"></td>
        <p><input type="submit"></p>
    </tbody>
</table>
{{ message }}
</form>



