<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'style.html' %}
</head>
<body>
{% include 'navbar.html' %}
<form method="post">
{% csrf_token %}
<table>
    <thead>
        <tr>
            <th>Select reservation data</th>
            <th>Please leave comment here</th>
        </tr>
    </thead>
    <tbody>
      <td><input type="date" name="reservation_date" placeholder="Select date"></td>
      <td><input type="text" name="comment" placeholder="Leave comment"></td>
        <p><input type="submit"></p>
    </tbody>
</table>
{{ message }}
<table style="border-color: black">
    <thead>
        <tr>
            <th>Conference room {{ room.room_name }}</th>
        </tr>
    </thead>
        <td>Room capacity = {{ room.room_capacity }}</td>
        {% if room.projector == 1 %}
        <td>In this conference room projector is available</td>
        {% else %}
        <td>In this conference room projector is not available</td>
        {% endif %}
</table>

<table>
{#    <tr>#}
{#            {% for xxx in comments %}#}
{#            <td>{{ xxx.comment }}</td>#}
{#            {% endfor %}#}
{#        </tr>#}
        <tr>
            <th>The date when conference room {{ room.room_name }} is reserved:</th>
        </tr>
        <tr>
            {% for reservation in reservations  %}
            <td>{{ reservation.reservation_date }}</td>
            {% endfor %}
        </tr>
</table>
</form>



