<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'style.html' %}
</head>
<body>
{% include 'navbar.html' %}

<table>
    <thead>
        <tr>
            <th>Conference room name</th>
            <th>Conference room capacity</th>
            <th>Projector availability</th>
            <th>Availability</th>
        </tr>
    </thead>
    <tbody>
    {% for room in conference_rooms %}
        <tr>
            <td><a href="/conference_room_list/{{ room.id }}">{{ room.room_name }}</a> </td>
            <td>{{ room.room_capacity }}</td>
            {% if room.projector is True %}
            <td>+</td>
            {% else %}
            <td>-</td>
            {% endif %}
{#            availability#}
            {% if avalibility is True %}
            <td>Conference room is available</td>
            {% else %}
            <td>Conference room is not available</td>
            {% endif %}
            <td><a href="/conference_room_list/modify/{{ room.id }}">Modify</a></td>
            <td><a href="/conference_room_list/delete/{{ room.id }}">Delete</a></td>
            <td><a href="/conference_room_list/reserve/{{ room.id }}">Reserve</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>





