
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% include 'style.html' %}
</head>
<body>
{% include 'navbar.html' %}


	<footer>
		Autor: <address>Grzegorz Pieczara (g.pieczara.it@gmail.com)</address>
		<p>wszelkie prawa zastrzeżone</p>
	</footer>


</body>
</html>
